@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Proza Libre";
  font-weight: 400;
  color: #3c403d;
}

h1 {
  font-family: "Cormorant Infant", serif;
}

input,
textarea {
  @apply border border-charcoal rounded-lg px-2 p-1;
}

input:focus,
textarea:focus {
  @apply outline-greenish outline-2;
}

.btn-primary {
  @apply mt-2 self-center px-5 py-3 font-semibold rounded hover:scale-110 transition ease-in-out duration-150 dark:bg-storm dark:text-charcoal;
}

.btn-secondary {
  @apply mt-2 self-center px-5 py-3 font-semibold rounded hover:scale-110 transition ease-in-out duration-150 dark:bg-jade dark:bg-opacity-40 dark:text-charcoal;
}

.btn-alert {
  @apply mt-2 self-center px-5 py-3 font-semibold rounded hover:scale-110 transition ease-in-out duration-150 dark:bg-alert dark:text-white;
}

table.basic {
  @apply w-full;
}

table.basic thead tr td {
  @apply bg-jade bg-opacity-25;
}

table.basic tr td {
  @apply border p-1 border-greenish;
}

table.basic a {
  @apply bg-leaf bg-opacity-25 inline-flex rounded-md py-1 px-2 text-sm;
}
