@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Proza Libre";
  font-weight: 400;
  color: #3c403d;
}

h1 {
  font-family: "Cormorant Infant", serif;
}

input,
textarea {
  @apply border border-charcoal rounded-lg px-2 p-1;
}

input:focus,
textarea:focus {
  @apply outline-greenish outline-2;
}

.btn-primary {
  @apply mt-2 self-center px-5 py-3 font-semibold rounded hover:scale-110 transition ease-in-out duration-150 dark:bg-storm dark:text-charcoal;
}
